{% extends "main/base-page.html" %}
{% block content %}
<h1>Adicionar cliente</h1>
<form method="POST" onsubmit=submitForm(event) >
    {% csrf_token %}
    <label>Tratamento</label>
    {{ formAddClient.treatment }}
    <label>Nome</label>
    {{ formAddClient.name }}
    <label>Descrição</label>
    {{ formAddClient.description }}
    <label>CPF ou CNPJ</label>
    {{ formAddClient.cnpj }}
    <label>Telefone</label>
    {{ formAddClient.fone }}
    <label>Email</label>
    {{ formAddClient.email }}
    <button type="submit">Ok</button>
</form>
<div id="successToast">Client added!</div>
<div id="incorrectDataToast">Invalid data!</div>
<div id="internalErrorToast">Internal server error!</div>
<script>
    function submitForm(e) {
        e.preventDefault()
        const data_to_backend = new FormData()
        data_to_backend.append("treatment", document.getElementById("id_treatment").value)
        data_to_backend.append("name", document.getElementById("id_name").value)
        data_to_backend.append("description", document.getElementById("id_description").value)
        data_to_backend.append("cnpj", document.getElementById("id_cnpj").value)
        data_to_backend.append("fone", document.getElementById("id_fone").value)
        data_to_backend.append("email", document.getElementById("id_email").value)
        const request = new Request(
            './', 
            {   
                method: 'POST',
                headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value} ,
                body: data_to_backend 
            }
        )
        fetch(request, {
            method: 'POST',
            mode: 'same-origin'
        }).then(
            function (response) {
                if (response.status === 201) {
                    let message = document.getElementById("successToast")
                    message.classList.toggle("show")
                    setTimeout(function() {
                        message.classList.toggle("show")
                    }, 2000)
                    setTimeout(function() {window.location.href = '../../project/new-project/'}, 2500)
                } else if (response.status === 400) {
                   let message = document.getElementById("incorrectDataToast")
                    message.classList.toggle("show")
                    setTimeout(function () {
                        message.classList.toggle("show")
                    }, 2000)
                } else {
                    let message = document.getElementById("internalErrorToast")
                    message.classList.toggle("show")
                    setTimeout(function () {
                        message.classList.toggle("show")
                    }, 2000)
                }
            }
        )
    }
</script>
{% endblock content %}