{% extends "main/base-page.html" %}
{% block content %}
<h1>Adicionar cliente</h1>
<form method="POST">
    {% csrf_token %}
    <label>Tratamento</label>
    {{ formAddClient.treatment }}
    <label>Nome</label>
    {{ formAddClient.name }}
    <label>Descrição</label>
    {{ formAddClient.description }}
    <label>CPF ou CNPJ</label>
    {{ formAddClient.cnpj }}
    <label>Telefone</label>
    {{ formAddClient.fone }}
    <label>Email</label>
    {{ formAddClient.email }}
    <button type="submit">Ok</button>
</form>
{% endblock content %}