{% extends "main/base-page.html" %}
{% block content %}
<h1>Edit Client Information</h1>
<form method="POST" onsubmit=submitForm(event) >
    {% csrf_token %}
    <label for="id_treatment">Treatment</label>
    <input type="text" name="treatment" id="id_treatment" maxlength="30" value="{{ client.treatment }}" required>
    <label for="id_name">Name</label>
    <input type="text" name="name" id="id_name" maxlength="300" value="{{ client.name }}" required>
    <label for="id_description">Description</label>
    <input type="text" name="description" id="id_description" maxlength="300" value="{{ client.description }}" required>
    <label for="id_cnpj">CPF ou CNPJ</label>
    <input type="text" name="cnpj" id="id_cnpj" maxlength="14" value="{{ client.cnpj }}">
    <label for="id_fone">Fone</label>
    <input type="text" name="fone" id="id_fone" maxlength="15" value="{{ client.fone }}">
    <label>Email</label>
    <input type="email" name="email" id="id_email" value="{{ client.email }}">
    <button type="submit">Ok</button>
</form>
<div id="successToast">Updated data!</div>
<div id="incorrectDataToast">Invalid data!</div>
<div id="internalErrorToast">Internal server error!</div>
<script>
    function submitForm(e) {
        e.preventDefault()
        const data_to_backend = new FormData()
        data_to_backend.append("treatment", document.getElementById("id_treatment").value)
        data_to_backend.append("name", document.getElementById("id_name").value)
        data_to_backend.append("description", document.getElementById("id_description").value)
        data_to_backend.append("cnpj", document.getElementById("id_cnpj").value)
        data_to_backend.append("fone", document.getElementById("id_fone").value)
        data_to_backend.append("email", document.getElementById("id_email").value)
        const request = new Request(
            './', 
            {   
                method: 'POST',
                headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value} ,
                body: data_to_backend 
            }
        )
        fetch(request, {
            method: 'POST',
            mode: 'same-origin'
        }).then(
            function (response) {
                if (response.status === 200) {
                    let message = document.getElementById("successToast")
                    message.classList.toggle("show")
                    setTimeout(function() {
                        message.classList.toggle("show")
                    }, 2000)
                    setTimeout(function() {window.location.href = '../../project/new-project/'}, 2500)
                } else if (response.status === 400) {
                   let message = document.getElementById("incorrectDataToast")
                    message.classList.toggle("show")
                    setTimeout(function () {
                        message.classList.toggle("show")
                    }, 2000)
                } else {
                    let message = document.getElementById("internalErrorToast")
                    message.classList.toggle("show")
                    setTimeout(function () {
                        message.classList.toggle("show")
                    }, 2000)
                }
            }
        )
    }
</script>
{% endblock content %}