{% extends "main/base-page.html" %}
{% block content %}
<h1>Select client and his address</h1>
<div>
    <select name="clients" id="id_clients" onchange=loadAddressClient(this)>
        <option value="">---------</option>
        {% for client in clients %}
        <option value="{{ client.id }}">{{ client.description }}</option>
        {% endfor %}
    </select>
    <button onclick = editClientInformation()>Edit client information</button>
    <button onclick = addNewClient()>New client</button>
</div>
<div>
    <select name="address" id="id_address"></select>
    <button onclick=addNewAddress()>New address</button>
</div>
<script>
    function addNewClient() {window.location.href = '../add-client/'}

    function editClientInformation() { 
        client = document.getElementById('id_clients').value
        if (client !== null) {
            window.location.href = `../${client}/`
        } else {
            alert("select a client")
        }
    }

    function addNewAddress() {
        client = document.getElementById('id_clients').value
        if (client !== null) {
            window.location.href = `../${client}/new-address/`
        } else {
            alert("select a client")
        }
    }

    function loadAddressClient(element) {
        var xhttp = new XMLHttpRequest()
        if (element.value !== 0 && element.value !== "") {
            xhttp.onreadystatechange = function (data) {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("id_address").innerHTML = this.response
                }
            }
            xhttp.open("GET", `../ajax/load-addresses/${element.value}`, true)
            xhttp.send()
        } else {
            document.getElementById("id_address").innerHTML = ""
        }
    }
</script>
{% endblock content %}