{% extends "main/base-page.html" %}
{% block content %}
<h1>Número de Condutores Carregados</h1>
<br>
<table>
    <thead>
        <th>Id</th>
        <th>Esquema de circuito</th>
        <th>Número de condutores carregados</th>
    </thead>
    <tbody id="tbodyConductors_id">
        {% for conductor in chargedConductors %}
        <tr>
            <td>
                {{ conductor.id }}
            </td>
            <td>
                {{ conductor.circuit_esqueme }}
            </td>
            <td>
                {{ conductor.number }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick=addChargedConductorsSeeds()>Adicionar número de condutores carregados</button>
<script>
    function addChargedConductorsSeeds() {
        const request = new Request('./ajax/add-a04/')
        fetch(request, {
            method: 'GET',
            mode: 'same-origin'
        }).then(
            function (response) {
                if (response.status === 201) {
                    let xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function (data) {
                        if (this.readyState === 4 && this.status === 200) {
                            document.getElementById("tbodyConductors_id").innerHTML = this.response
                        } else if (this.readyState === 4 && this.status !== 200) {
                            alert("Erro ao obter lista de itens adicionados")
                        }
                    }
                    xhttp.open("GET", "./ajax/list-charged-conductors/", true)
                    xhttp.send()
                } else if (response.status === 400) {
                    alert("Dados já adicionados")
                } else {
                    alert("Erro interno do servidor")
                }
            }
        )
    }
</script>
{% endblock content %}