{% extends "main/base-page.html" %}
{% block content %}
<h1>Configurations Options</h1>
<div>
    <ul>
        <a href="./reference-method/">Tabela de métodos de referência</a>
    </ul>
    <ul>
        <a href="./instalation-method/">Tabela de métodos de instalação</a>
    </ul>
    <ul>
        <a href="./isolation-type/">Tabela de tipos de isolação</a>
    </ul>
    <ul>
        <a href="./charged-conductor/">Tabela de número de condutores carregados</a>
    </ul>
    <ul>
        <a href="./current-capacitie/">Tabela de capacidade de corrente</a>
    </ul>
    <ul>
        <a href="./temperature-correction/">Tabela de correção de temperatura</a>
    </ul>
    <ul>
        <a href="./underground-correction/">Tabela de correção de resistividade do solo</a>
    </ul>
    <ul>
        <a href="./grouping-form/">Tabela de tipos de agrupamento</a>
    </ul>
    <ul>
        <a href="./grouping-correction/">Tabela de correção de agrupamento</a>
    </ul>
</div>
{% endblock content %}